{% extends 'index.html' %}

<div class="container">
  <div class="chat__wrapper">
    {% block header %} {% include "includes/header.html" %} {% endblock %} 
    {% block content %}
    <div class="chat__content">
      <div class="chat">
        <input type="text" class="chat__search-form" placeholder="Поиск" />
        <ul class="chat__list">
          {% for chat in chats |sort(false, true, 'messageDate') %}
          <a href="#" class="chat__item chat__item_type_link">
            <li class="chat__item">
              <div class="chat__item_avatar">
                <img
                  class="chat__item_img"
                  src="{{ chat.avatar }}"
                  alt="Avatar"
                />
              </div>
              <div class="chat__item_detail">
                <div class="chat__item_section">
                  <div class="chat__item_title">{{ chat.title }}</div>
                  <div class="chat__item_lastdate">
                    {{ chat.last_date | date('D.MM.YYYY') }}
                  </div>
                </div>
                <div class="chat__item_section">
                  <div class="chat__item_author">{{ chat.author }}</div>
                  <div class="chat__item_message">
                    {{ chat.message | truncate(30)}}
                  </div>
                </div>
              </div>
            </li>
          </a>
          {% endfor %}
        </ul>
      </div>
      <div class="messages">
        <div class="message__wrapper">
          <div class="message__content">
            <ul class="message__list">
              {% for messageDate, messages in messages|sort(false, true,'messageDate') | groupby('messageDate') %}
                <div class="message__group_date">
                    {{ messageDate | date("dd D MMM YYYY")}}
                </div>
                {% for messageItem in messages %}
                <!-- временное решение определения стиля в зависимотси от автора  -->
                <li
                    class="{% if messageItem.author ==='Tom' %} message__item message__item-self {% else %} message__item message__item-alien {% endif %}"
                >
                    <div class="message__item_wrapper">
                    <div class="message__item_avatar">
                        <img
                        class="message__item_img"
                        src="{{ messageItem.avatar }}"
                        alt="Avatar"
                        />
                    </div>
                    <div class="message__item_detail">
                        <div class="message__item_section">
                        <div class="message__item_author">
                            {{messageItem.author}}
                        </div>
                        <div class="message__item_time">
                            {{messageItem.messageDate.toLocaleTimeString()}}
                        </div>
                        </div>
                        <div class="message__item_section">
                        <div class="message__item_message">
                            {{ messageItem.message }}
                        </div>
                        </div>
                    </div>
                    </div>
                </li>
                {% endfor %} 
              {% endfor %}
            </ul>

            <div class="message__input_group">
              <input
                type="text"
                class="message__input"
                placeholder="Напишите сообщение..."
              />
              <span class="message__input_btn"
                ><img src="../icon/send.svg" alt="send"
              /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
