@import "./user_settings.css";
@import "./sign.css";
@import "./chatlist.css";
@import "./messages.css";
@import "./button.css";
@import "./errors.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;

  font: 1em sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
